{% load static %}
{% load i18n %}
<tr role="row" class="odd">
    <td>{{ list_i }}</td>
    <td>{{ first_name }}</td>
    <td>{{ last_name }}</td>
    <td>{{ check_in_date }}</td>
    <td>
        <a class="example-image-link" href="{{ check_in_image_url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" style="height:50px;" src="{{ check_in_image_url }}" alt=""/>
        </a>
    <td>{{ check_out_date }}</td>
    <td>
        <a class="example-image-link" href="{{ check_out_image_url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" style="height:50px;" src="{{ check_out_image_url }}" alt=""/>
        </a>
    </td><td>{{ date }}</td>
    <td><a href="{{ url }}" class="btn dark btn-sm btn-outline sbold uppercase"><i class="fa fa-eye"></i> View</a></td>
</tr>