{% load static %}
{% load i18n %}
<tr role="row" class="odd">
    <td>{{ list_i }}</td>
    <td>{{ check_in_date }}</td>
    <td><a href="{{ check_in_image_url }}" class="example-image-link" data-lightbox="example-1"><img class="example-image"  style="height:50px;" src="{{ check_in_image_url }}"></a></td>
    <td>{{ check_out_date }}</td>
    <td><a href="{{ check_out_image_url }}" class="example-image-link" data-lightbox="example-1"><img class="example-image"  style="height:50px;" src="{{ check_out_image_url }}"></a></td>
    <td>{{ date }}</td>
    <td><a href="{{ url }}" class="btn dark btn-sm btn-outline sbold uppercase"><i class="fa fa-eye"></i> View</a></td>
</tr>