{% extends 'main_base.html' %}
{% load static %}
{% block title_container %}

{% endblock %}


{% block head_container %}
{% endblock %}
{% block head_under_container %}

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'main/assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->

{% endblock %}


{% block content_container %}

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>My Work List
{#                                <small>responsive extension demos</small>#}
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="{% url 'home:dashboard' %}">Dashboard</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">My Work List</span>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->

                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet box red">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-globe"></i>My Work List</div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_4">
                                        <thead>
                                            <tr>
                                                <th class="all">Date</th>
                                                <th class="all">Image</th>
                                                <th class="all">First name</th>
                                                <th class="min-phone-l">Last name</th>
                                                <th class="min-tablet">Phone</th>
                                                <th class="min-tablet">Start Date</th>
                                                <th class="min-tablet">End Date</th>
                                                <th class="min-tablet">/</th>
{#                                                <th class="none">User Type</th>#}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if all_data_list %}
                                                {% for all_data_list_key , all_data_list_item in all_data_list.items %}
                                                    {% for all_data_list_item_x_key , all_data_list_item_x in all_data_list_item.items %}
                                                        <tr>
                                                            <td>{{ all_data_list_key }}</td>
                                                            <td><img height="50" src="{% if all_data_list_item_x.employee_info.image %}{{ all_data_list_item_x.employee_info.image }}{% else %}{% endif %}"></td>
                                                            <td>{{ all_data_list_item_x.employee_info.first_name }}</td>
                                                            <td>{{ all_data_list_item_x.employee_info.last_name }}</td>
                                                            <td>{{ all_data_list_item_x.employee_info.phone }}</td>
                                                            <td>{{ all_data_list_item_x.start_date }}</td>
                                                            <td>{{ all_data_list_item_x.end_date }}</td>
                                                            <td>
                                                                <a href="{% url 'home:employee_page' all_data_list_item_x.employee_info.id %}" class="btn dark btn-sm btn-outline sbold uppercase">
                                                                    <i class="fa fa-eye"></i> View </a>
                                                            </td>
    {#                                                        <td>{{ all_data_list_item.user_type }}</td>#}
                                                        </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

{% endblock %}


{% block js_block %}


        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'main/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'main/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'main/assets/pages/scripts/table-datatables-responsive.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->

{% endblock %}

