{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load home_tags %}

{% block title_container %}

{% endblock %}

{% block head_container %}
{% endblock %}

{% block head_under_container %}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{% static 'main/assets/pages/css/profile-2.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'main/assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet"
              type="text/css"/>
        <link href="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
              rel="stylesheet" type="text/css"/>
        <link href="{% static 'main/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
              rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}


{% block content_container %}
<style>
.gmaps{
    height: 500px;
}
</style>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Employee Profile
                                <small>{{ user_details.first_name }} {{ user_details.last_name }}</small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="{% url 'home:dashboard' %}">Home</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="{% url 'home:general-all-user' 'employees' %}">Employees</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">{{ user_details.first_name }} {{ user_details.last_name }}</span>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="profile">
                        <div class="tabbable-line tabbable-full-width">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab"> Overview </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="list-unstyled profile-nav">
                                                <li>
                                                    <img src="{{ user_details.image }}" class="img-responsive pic-bordered" alt="{{ user_details.first_name|safe }} {{ user_details.last_name|safe }}" />
{#                                                    <a href="javascript:;" class="profile-edit"> edit </a>#}
                                                </li>
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Projects </a>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Messages#}
{#                                                        <span> 3 </span>#}
{#                                                    </a>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Friends </a>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Settings </a>#}
{#                                                </li>#}
                                            </ul>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-6 profile-info">
                                                    <h1 class="font-green sbold uppercase">{{ user_details.first_name }} {{ user_details.last_name }}</h1>
                                                    <p>
                                                        {{ user_details.address }}
                                                    </p>
{#                                                    <p>#}
{#                                                        <a href="javascript:;"> www.mywebsite.com </a>#}
{#                                                    </p>#}
{#                                                    <ul class="list-inline">#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-map-marker"></i> Spain </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-calendar"></i> 18 Jan 1982 </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-briefcase"></i> Design </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-star"></i> Top Seller </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-heart"></i> BASE Jumping </li>#}
{#                                                    </ul>#}
                                                </div>
                                                <!--end col-md-8-->
                                                <div class="col-md-6">
                                                    <div class="portlet sale-summary">
                                                        <div class="portlet-title">
                                                            <div class="caption font-red sbold"> Details</div>
{#                                                            <div class="tools">#}
{#                                                                <a class="reload" href="javascript:;"> </a>#}
{#                                                            </div>#}
                                                        </div>
                                                        <div class="portlet-body">
                                                            <ul class="list-unstyled">
                                                                {% if user_details.code %}
                                                                    <li>
                                                                        <span class="sale-info"> Code
                                                                            <i class="fa fa-img-up"></i>
                                                                        </span>
                                                                        <span class="sale-num"> {{ user_details.code }} </span>
                                                                    </li>
                                                                {% endif %}
                                                                {% if user_details.phone %}
                                                                    <li>
                                                                        <span class="sale-info"> Phone
                                                                            <i class="fa fa-img-up"></i>
                                                                        </span>
                                                                        <span class="sale-num"> {{ user_details.phone }} </span>
                                                                    </li>
                                                                {% endif %}
                                                                {% if user_details.post_code %}
                                                                    <li>
                                                                        <span class="sale-info"> Post code
                                                                            <i class="fa fa-img-up"></i>
                                                                        </span>
                                                                        <span class="sale-num"> {{ user_details.post_code }} </span>
                                                                    </li>
                                                                {% endif %}
                                                                {% if user_details.city %}
                                                                    <li>
                                                                        <span class="sale-info"> City
                                                                            <i class="fa fa-img-up"></i>
                                                                        </span>
                                                                        <span class="sale-num"> {{ user_details.city }} </span>
                                                                    </li>
                                                                {% endif %}
                                                                {% if user_details.user_type == '1' or user_details.user_type == 1 %}
                                                                    {% if user_details.address_document %}
                                                                        <li>
                                                                            <span class="sale-info"> Address document
                                                                                <i class="fa fa-img-up"></i>
                                                                            </span>
                                                                            <span class="sale-num"> <a class="btn btn-md btn-danger" href="{{ user_details.address_document }}" download>Address document</a> </span>
                                                                        </li>
                                                                    {% endif %}
                                                                    {% if user_details.contract_file %}
                                                                        <li>
                                                                            <span class="sale-info"> Contract file
                                                                                <i class="fa fa-img-up"></i>
                                                                            </span>
                                                                            <span class="sale-num"> <a class="btn btn-md btn-danger"  href="{{ user_details.contract_file }}" download>Contract file</a> </span>
                                                                        </li>
                                                                    {% endif %}
                                                                    {% if user_details.document %}
                                                                        <li>
                                                                            <span class="sale-info"> Document
                                                                                <i class="fa fa-img-up"></i>
                                                                            </span>
                                                                            <span class="sale-num"> <a class="btn btn-md btn-danger" href="{{ user_details.document }}" download>Document</a> </span>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end col-md-4-->
                                            </div>
                                            <!--end row-->
                                            <div class="tabbable-line tabbable-custom-profile">
                                                <ul class="nav nav-tabs">
{#                                                    <li class="active">#}
{#                                                        <a href="#tab_1_11" data-toggle="tab"> {% if last_date %}{{ last_date }} {% else %}{% trans 'Last' %} {% endif %} Locations </a>#}
{#                                                    </li>#}
                                                    <li class="active">
                                                        <a href="#tab_1_22" data-toggle="tab"> {% trans 'Daily Checkers' %} </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
{#                                                    <div class="tab-pane active" id="tab_1_11">#}
{#                                                        <!-- BEGIN MARKERS PORTLET-->#}
{#                                                        <div class="portlet light portlet-fit bordered">#}
{#                                                            <div class="portlet-title">#}
{#                                                                <div class="caption">#}
{#                                                                    <i class=" icon-layers font-blue"></i>#}
{#                                                                    <span class="caption-subject font-blue bold uppercase">{% if last_date %}{{ last_date }} {% else %}{% trans 'Last' %} {% endif %} Locations</span>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                            <div class="portlet-body">#}
{#                                                                <div id="gmap_marker" class="gmaps"> </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <!-- END MARKERS PORTLET-->#}
{#                                                    </div>#}
                                                    <!--tab-pane-->
                                                    <div class="tab-pane active" id="tab_1_22">

                                                        <!-- BEGIN PAGE BASE CONTENT -->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="clearfix">
                                                                    <a href="javascript:;" onclick="search_employeeWorks()" class="btn blue btn-block"><i class="fa fa-search"></i> &nbsp; Search </a>
                                                                </div>
                                                                <hr/>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <form method="post" action="{% url 'home:employee-page-search' employee_id %}" id="employee_work_search_form">
                                                                    {% csrf_token %}
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="input-group date date-picker margin-bottom-5" data-date-format="dd-mm-yyyy">
                                                                                {{ employee_work_search_form.start_date }}
                                                                                <span class="input-group-btn">
                                                                                            <button class="btn btn-sm default" type="button">
                                                                                                <i class="fa fa-calendar"></i>
                                                                                            </button>
                                                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="input-group date date-picker margin-bottom-5" data-date-format="dd-mm-yyyy">
                                                                                {{ employee_work_search_form.end_date }}
                                                                                <span class="input-group-btn">
                                                                                            <button class="btn btn-sm default" type="button">
                                                                                                <i class="fa fa-calendar"></i>
                                                                                            </button>
                                                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <hr>
                                                                    <div class="clearfix">
                                                                        <a href="javascript:;" onclick="search_employeeWorks()" class="btn blue btn-block"><i class="fa fa-search"></i> &nbsp; Search </a>
                                                                    </div>
                                                                <hr>
                                                            </div>
                                                            <div class="col-md-12" id="employee-work-list">
                                                            </div>
                                                            <div class="col-md-12" style="text-align: center">
                                                                <img style="display: none;margin: 0 auto;" id="ajax-loader" src="{% static 'main/assets/images/gears.gif' %}">
                                                            </div>
                                                        </div>
                                                        <!-- END PAGE BASE CONTENT -->
                                                    </div>
                                                    <!--tab-pane-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--tab_1_2-->
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
{% endblock %}


{% block js_block %}


        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/gmaps/gmaps.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'main/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/datatables.min.js' %}"
                type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}"
                type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"
                type="text/javascript"></script>
        <script src="{% static 'main/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'main/assets/pages/scripts/table-datatables-responsive.min.js' %}"
                type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script>
        dateTimeOptions = {
            'format': 'dd-mm-yyyy',
            'autoclose': false,
            'showMeridian': true
        };
        $("input[name='start_date']").datepicker(dateTimeOptions);
        $("input[name='end_date']").datepicker(dateTimeOptions);
        {#widgets = {#}
        {#    #NOT Use localization and set a default format#}
        {#    'datetime': DateTimeWidget(options = dateTimeOptions)#}
        {#    }#}
    </script>
    <script>
        function search_employeeWorks() {
            var search_form = $('#employee_work_search_form');
            var url = search_form.attr("action");
            var employee_work_list = $('#employee-work-list');
            employee_work_list.html('');
            var ajax_loader = $('#ajax-loader');
            ajax_loader.show();
            $.ajax({
                url: url, // the endpoint,commonly same url
                dataType: "json",
                type: "POST",
                data: search_form.serialize(),
                success: function (result) {
                    ajax_loader.hide();
                    employee_work_list.html(result['html']);
                    $('#selected-employee-name').text($('#id_employee').find("option:selected").text());
                },
                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    ajax_loader.hide();
                }
            });
        }
        $( document ).ready(function() {
            search_employeeWorks();
        });
    </script>





{% endblock %}


