{% extends 'main_base.html' %}
{% load static %}
{% load home_tags %}
{% load widget_tweaks %}

{% block title_container %}

{% endblock %}

{% block head_container %}
{% endblock %}

{% block head_under_container %}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{% static 'main/assets/pages/css/profile-2.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'main/assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}


{% block content_container %}
<style>
.gmaps{
    height: 500px;
}.profile .table-striped tbody>tr:nth-child(2n+1)>td, .profile .table-striped tbody>tr:nth-child(2n+1)>th
</style>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Employee Profile
                                <small>{{ user_details.first_name }} {{ user_details.last_name }}</small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="{% url 'home:dashboard' %}">Home</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="{% url 'home:general-all-user' 'employees' %}">Employees</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="{% url 'home:employee_page' employee_id %}">{{ user_details.first_name }} {{ user_details.last_name }}</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">{{ day }} - {{ month }} - {{ year }}</span>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="profile">
                        <div class="tabbable-line tabbable-full-width">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab"> Overview </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="list-unstyled profile-nav">
                                                <li>
                                                    <img src="{{ user_details.image }}" class="img-responsive pic-bordered" alt="" />
{#                                                    <a href="javascript:;" class="profile-edit"> edit </a>#}
                                                </li>
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Projects </a>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Messages#}
{#                                                        <span> 3 </span>#}
{#                                                    </a>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Friends </a>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Settings </a>#}
{#                                                </li>#}
                                            </ul>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-8 profile-info">
                                                    <h1 class="font-green sbold uppercase"><a href="{% url 'home:employee_page' employee_id %}">{{ user_details.first_name }} {{ user_details.last_name }}</a></h1>
                                                    <p> {{ user_details.address }}
                                                        </p>
{#                                                    <p>#}
{#                                                        <a href="javascript:;"> www.mywebsite.com </a>#}
{#                                                    </p>#}
{#                                                    <ul class="list-inline">#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-map-marker"></i> Spain </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-calendar"></i> 18 Jan 1982 </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-briefcase"></i> Design </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-star"></i> Top Seller </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-heart"></i> BASE Jumping </li>#}
{#                                                    </ul>#}
                                                </div>
                                            </div>
                                            <!--end row-->
                                            <div class="tabbable-line tabbable-custom-profile">
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#tab_1_11" data-toggle="tab"> {{ day }} - {{ month }} - {{ year }} Locations </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_1_11">
                                                        <!-- BEGIN MARKERS PORTLET-->
                                                        <div class="portlet light portlet-fit bordered">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <i class=" icon-layers font-blue"></i>
                                                                    <span class="caption-subject font-blue bold uppercase">{{ day }} - {{ month }} - {{ year }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="portlet-body">
                                                                <div id="gmap_marker" class="gmaps"> </div>
                                                            </div>
                                                        </div>
                                                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                                        <div class="portlet box red">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <i class="fa fa-globe"></i>Check List
                                                                </div>
                                                                <div class="tools"></div>
                                                            </div>
                                                            <div class="portlet-body">
                                                                <table class="table table-striped table-bordered table-hover dt-responsive"
                                                                       width="100%" id="sample_4">
                                                                    <thead>
                                                                    <tr>
                                                                        <th class="all">N</th>
                                                                        <th class="min-tablet">date</th>
                                                                        <th class="none">Image</th>
                                                                        <th class="min-tablet">location</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for  checks_location_dayly_item_key , checks_location_dayly_item  in checks_location_dayly.items %}
                                                                            <tr style="background: #dbf9ec;">
                                                                                <td style="background: #dbf9ec;">Check in - <strong>{{ forloop.counter }}</strong></td>
                                                                                <td style="background: #dbf9ec;">{{ checks_location_dayly_item.check_in_date }}</td>
                                                                                <td style="background: #dbf9ec;">
                                                                                    <a href="{{ checks_location_dayly_item.check_in_image_url }}" class="example-image-link" data-lightbox="example-1"><img class="example-image"  style="height:50px;" src="{{ checks_location_dayly_item.check_in_image_url }}"></a>
                                                                                </td>
                                                                                <td style="background: #dbf9ec;">{{ checks_location_dayly_item.check_in_location }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        {% for key ,value in checks_hourly_locations.items %}
                                                                            <tr>
                                                                                <td>{{ forloop.counter }}</td>
                                                                                <td>{{ key }}</td>
                                                                                <td><img style="height:50px;" src="{{ value.image }}"/></td>
                                                                                <td>{{ value.location }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        {% for  checks_location_dayly_item_key , checks_location_dayly_item  in checks_location_dayly.items %}
                                                                            <tr style="background: #ffdddd;">
                                                                                <td style="background: #ffdddd;">Check out - <strong>{{ forloop.counter }}</strong></td>
                                                                                <td style="background: #ffdddd;">{{ checks_location_dayly_item.check_out_date }}</td>
                                                                                <td style="background: #ffdddd;">
                                                                                    <a href="{{ checks_location_dayly_item.check_out_image_url }}" class="example-image-link" data-lightbox="example-1"><img class="example-image"  style="height:50px;" src="{{ checks_location_dayly_item.check_out_image_url }}"></a>
                                                                                </td>
                                                                                <td style="background: #ffdddd;">{{ checks_location_dayly_item.check_out_location }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- END EXAMPLE TABLE PORTLET-->
                                                    </div>
                                                    <!--tab-pane-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--tab_1_2-->
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
{% endblock %}


{% block js_block %}





        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/gmaps/gmaps.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'main/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script>
        var MapsGoogle = function () {

            var mapMarker = function () {
                var map = new GMaps({
                    div: '#gmap_marker',
                    zoom: 6,

                {% for  checks_location_dayly_item_key , checks_location_dayly_item  in checks_location_dayly.items %}
                    {% if forloop.counter == 1 %}
                        lat: {{ checks_location_dayly_item.check_in_location|single_url1 }},
                        lng: {{ checks_location_dayly_item.check_in_location|single_url2 }}
                    {% endif %}
                {% endfor %}
                });
                {% for  checks_location_dayly_item_key , checks_location_dayly_item  in checks_location_dayly.items %}
                    {% if checks_location_dayly_item.check_in_location %}
                        map.addMarker({
                           lat: {{ checks_location_dayly_item.check_in_location|single_url1 }},
                            lng: {{ checks_location_dayly_item.check_in_location|single_url2 }},
                            title: 'Check in',
                            infoWindow: {
                                content: '<span style="color:#000"><img style="height:50px;" src="{{ checks_location_dayly_item.check_in_image_url }}"/><hr>{{ checks_location_dayly_item.check_in_date }}</span>'
                            }
                        });
                    {% endif %}
                {% endfor %}
                {% for key ,value in checks_hourly_locations.items %}
                    map.addMarker({
                       lat: {{ value.location|single_url1 }},
                        lng: {{ value.location|single_url2 }},
                        title: '{{ key }}',
                        infoWindow: {
                            content: '<span style="color:#000"><img style="height:50px;" src="{{ value.image }}"/><hr>{{ key }}</span>'
                        }
                    });
                {% endfor %}
                {% for  checks_location_dayly_item_key , checks_location_dayly_item  in checks_location_dayly.items %}
                    {% if checks_location_dayly_item.check_out_location %}
                        map.addMarker({
                            lat: {{ checks_location_dayly_item.check_out_location|single_url1 }},
                            lng: {{ checks_location_dayly_item.check_out_location|single_url2 }},
                            title: 'Check out',
                            infoWindow: {
                                content: '<span style="color:#000"><img style="height:50px;" src="{{ checks_location_dayly_item.check_out_image_url }}"/><hr>{{ checks_location_dayly_item.check_out_date }}</span>'
                            }
                        });
                    {% endif %}
                {% endfor %}
                map.setZoom(15);
            };

            return {
                //main function to initiate map samples
                init: function () {
                    mapMarker();
                }

            };

        }();

        jQuery(document).ready(function() {
            MapsGoogle.init();
        });
        </script>


    
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'main/assets/pages/scripts/table-datatables-ajax.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->


{% endblock %}


