{% extends 'main_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load home_tags %}

{% block title_container %}

{% endblock %}

{% block head_container %}
{% endblock %}

{% block head_under_container %}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{% static 'main/assets/pages/css/profile-2.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'main/assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}


{% block content_container %}
<style>
.gmaps{
    height: 500px;
}
</style>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Customer Profile
                                <small>{{ user_details.first_name }} {{ user_details.last_name }}</small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="{% url 'home:dashboard' %}">Home</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="{% url 'home:general-all-user' 'customers' %}">Customers</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">{{ user_details.first_name }} {{ user_details.last_name }}</span>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="profile">
                        <div class="tabbable-line tabbable-full-width">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab"> Overview </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="list-unstyled profile-nav">
                                                <li>
                                                    <img src="{{ user_details.image }}" class="img-responsive pic-bordered" alt="{{ user_details.first_name|safe }} {{ user_details.last_name|safe }}" />
{#                                                    <a href="javascript:;" class="profile-edit"> edit </a>#}
                                                </li>
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Projects </a>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Messages#}
{#                                                        <span> 3 </span>#}
{#                                                    </a>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Friends </a>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <a href="javascript:;"> Settings </a>#}
{#                                                </li>#}
                                            </ul>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-6 profile-info">
                                                    <h1 class="font-green sbold uppercase">{{ user_details.first_name }} {{ user_details.last_name }}</h1>
                                                    <p>
                                                        {{ user_details.address }}
                                                    </p>
{#                                                    <p>#}
{#                                                        <a href="javascript:;"> www.mywebsite.com </a>#}
{#                                                    </p>#}
{#                                                    <ul class="list-inline">#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-map-marker"></i> Spain </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-calendar"></i> 18 Jan 1982 </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-briefcase"></i> Design </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-star"></i> Top Seller </li>#}
{#                                                        <li>#}
{#                                                            <i class="fa fa-heart"></i> BASE Jumping </li>#}
{#                                                    </ul>#}
                                                </div>
                                                <!--end col-md-8-->
                                                <div class="col-md-6">
                                                    <div class="portlet sale-summary">
                                                        <div class="portlet-title">
                                                            <div class="caption font-red sbold"> Details</div>
{#                                                            <div class="tools">#}
{#                                                                <a class="reload" href="javascript:;"> </a>#}
{#                                                            </div>#}
                                                        </div>
                                                        <div class="portlet-body">
                                                            <ul class="list-unstyled">
                                                                {% if user_details.code %}
                                                                    <li>
                                                                        <span class="sale-info"> Code
                                                                            <i class="fa fa-img-up"></i>
                                                                        </span>
                                                                        <span class="sale-num"> {{ user_details.code }} </span>
                                                                    </li>
                                                                {% endif %}
                                                                {% if user_details.phone %}
                                                                    <li>
                                                                        <span class="sale-info"> Phone
                                                                            <i class="fa fa-img-up"></i>
                                                                        </span>
                                                                        <span class="sale-num"> {{ user_details.phone }} </span>
                                                                    </li>
                                                                {% endif %}
                                                                {% if user_details.post_code %}
                                                                    <li>
                                                                        <span class="sale-info"> Post code
                                                                            <i class="fa fa-img-up"></i>
                                                                        </span>
                                                                        <span class="sale-num"> {{ user_details.post_code }} </span>
                                                                    </li>
                                                                {% endif %}
                                                                {% if user_details.city %}
                                                                    <li>
                                                                        <span class="sale-info"> City
                                                                            <i class="fa fa-img-up"></i>
                                                                        </span>
                                                                        <span class="sale-num"> {{ user_details.city }} </span>
                                                                    </li>
                                                                {% endif %}
                                                                {% if base_user_profile.user_type == '1' or base_user_profile.user_type == 1 %}
                                                                    {% if user_details.address_document %}
                                                                        <li>
                                                                            <span class="sale-info"> Address document
                                                                                <i class="fa fa-img-up"></i>
                                                                            </span>
                                                                            <span class="sale-num"> <a class="btn btn-md btn-danger" href="{{ user_details.address_document }}" download>Address document</a> </span>
                                                                        </li>
                                                                    {% endif %}
                                                                    {% if user_details.contract_file %}
                                                                        <li>
                                                                            <span class="sale-info"> Contract file
                                                                                <i class="fa fa-img-up"></i>
                                                                            </span>
                                                                            <span class="sale-num"> <a class="btn btn-md btn-danger"  href="{{ user_details.contract_file }}" download>Contract file</a> </span>
                                                                        </li>
                                                                    {% endif %}
                                                                    {% if user_details.document %}
                                                                        <li>
                                                                            <span class="sale-info"> Document
                                                                                <i class="fa fa-img-up"></i>
                                                                            </span>
                                                                            <span class="sale-num"> <a class="btn btn-md btn-danger" href="{{ user_details.document }}" download>Document</a> </span>
                                                                        </li>
                                                                    {% endif %}
                                                                        <li>
                                                                            <span class="sale-info"> Edit
                                                                                <i class="fa fa-img-up"></i>
                                                                            </span>
                                                                            <span class="sale-num"><a href="{% url 'home:edit-user' 'customer' customer_id %}" class="btn btn-outline btn-circle btn-sm purple">
                                                            <i class="fa fa-edit"></i> Edit </a> </span>
                                                                        </li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end col-md-4-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="tabbable-line tabbable-custom-profile">
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#tab_1_11" data-toggle="tab"> My Work List </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_1_11">

                                                        <!-- BEGIN PAGE BASE CONTENT -->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                                                <div class="portlet box red">
                                                                    <div class="portlet-title">
                                                                        <div class="caption">
                                                                            <i class="fa fa-globe"></i>My Work List</div>
                                                                        <div class="tools"> </div>
                                                                    </div>
                                                                    <div class="portlet-body">
                                                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_4">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="all">Date</th>
                                                                                    <th class="all">Image</th>
                                                                                    <th class="all">First name</th>
                                                                                    <th class="min-phone-l">Last name</th>
                                                                                    <th class="min-tablet">Phone</th>
                                                                                    <th class="min-tablet">Start Date</th>
                                                                                    <th class="min-tablet">End Date</th>
                                                                                    <th class="min-tablet">/</th>
                                    {#                                                <th class="none">User Type</th>#}
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                {% if all_data_list %}
                                                                                    {% for all_data_list_key , all_data_list_item in all_data_list.items %}
                                                                                        {% for all_data_list_item_x_key , all_data_list_item_x in all_data_list_item.items %}
                                                                                            <tr>
                                                                                                <td>{{ all_data_list_key }}</td>
                                                                                                <td><img height="50" src="{% if all_data_list_item_x.employee_info.image %}{{ all_data_list_item_x.employee_info.image }}{% else %}{% endif %}"></td>
                                                                                                <td>{{ all_data_list_item_x.employee_info.first_name }}</td>
                                                                                                <td>{{ all_data_list_item_x.employee_info.last_name }}</td>
                                                                                                <td>{{ all_data_list_item_x.employee_info.phone }}</td>
                                                                                                <td>{{ all_data_list_item_x.start_date }}</td>
                                                                                                <td>{{ all_data_list_item_x.end_date }}</td>
                                                                                                <td>
                                                                                                    <a href="{% url 'home:employee_page' all_data_list_item_x.employee_info.id %}" class="btn dark btn-sm btn-outline sbold uppercase">
                                                                                                        <i class="fa fa-eye"></i> View </a>
                                                                                                </td>
                                        {#                                                        <td>{{ all_data_list_item.user_type }}</td>#}
                                                                                            </tr>
                                                                                        {% endfor %}
                                                                                    {% endfor %}
                                                                                {% endif %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- END EXAMPLE TABLE PORTLET-->
                                                            </div>
                                                        </div>
                                                        <!-- END PAGE BASE CONTENT -->
                                                    </div>
                                                    <!--tab-pane-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--tab_1_2-->
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
{% endblock %}


{% block js_block %}


        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/gmaps/gmaps.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'main/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'main/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'main/assets/pages/scripts/table-datatables-responsive.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->

        <script>
            dateTimeOptions = {
            'format': 'yyyy-mm-dd',
            'autoclose': false,
            'showMeridian' : true
            };
{#            $( "input[name='order_date_from']" ).datepicker(dateTimeOptions);#}
{#            $( "input[value='order_date_to']" ).datepicker(dateTimeOptions);#}
            {#widgets = {#}
            {#    #NOT Use localization and set a default format#}
            {#    'datetime': DateTimeWidget(options = dateTimeOptions)#}
{#    }#}
    </script>




{% endblock %}


