{% extends 'main_base.html' %}

{% block title_container %}

{% endblock %}


{% block head_container %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css" type="text/css"/>


{% endblock %}


{% block content_container %}


    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{% url 'home:dashboard' %}">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light portlet-fit portlet-form bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">User</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <!-- BEGIN FORM-->
                            <form action="" method="post" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        {{ sign_up_form.first_name }}
                                        <label for="form_control_1">First Name</label>
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.first_name.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.first_name.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-warning">
                                        {{ sign_up_form.last_name }}
                                        <label for="form_control_1">Last Name</label>
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.last_name.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.last_name.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-success">
                                        {{ sign_up_form.code }}
                                        <label for="form_control_1">Code</label>
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.code.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.code.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                                        {{ sign_up_form.user_type }}
                                        <label for="form_control_1">User Type</label>
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.user_type.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.user_type.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                                        {{ sign_up_form.phone }}
                                        <label for="form_control_1">Phone</label>
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.phone.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.phone.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                                        {{ sign_up_form.city }}
                                        <label for="form_control_1">City</label>
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.city.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.city.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                                        {{ sign_up_form.address }}
                                        <label for="form_control_1">Address</label>
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.address.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.address.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                                        {{ sign_up_form.post_code }}
                                        <label for="form_control_1">Post Code</label>
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.post_code.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.post_code.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                                        <label for="form_control_1">Photo</label>
                                        {{ sign_up_form.image }}
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.image.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.image.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                                        <label for="form_control_1">Document</label>
                                        {{ sign_up_form.document }}
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.document.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.document.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                                        <label for="form_control_1">Address Document</label>
                                        {{ sign_up_form.address_document }}
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.address_document.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.address_document.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                                        <label for="form_control_1">Contract File</label>
                                        {{ sign_up_form.contract_file }}
                                        <span class="help-block">Some help goes here...</span>
                                        {% if sign_up_form.contract_file.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ sign_up_form.contract_file.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn dark">Submit</button>
                                            <a href="javascript:;" class="btn default">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

{% endblock %}


{% block js_block %}


        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>


    {% if success_message %}
        <script>

            $(document).ready(function () {
                swal(
                    '{{ success_message }}',
                    '',
                    'success'
                );
            });

        </script>
    {% endif %}
{% endblock %}

